h1 {
  color: palegoldenrod;
  text-align: center;
  font-size: 24px;
  /*font-family: "Comic Sans MS", sans-serif;*/
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
  font-weight: bold;
  text-shadow: 2px 2px 3px gray;
}
.project_container {
  height: 100%;
  width: 100%;
  padding: 5px;
}
